<!DOCTYPE html>
<html>
  <head>
    <title>Home | Phoenix Tutorial Static Page</title>
  </head>
  <body>
  <h1>Phoenix Static Page</h1>
  <p>
    This is the home page for the 
    <a href="#">Phoenix Tutorial</a>
    static page application.
  </p> 
  </body>
</html>
